<h1>Sign up!</h1>

<%= render 'layouts/errors', :object => @user %>
<div id="create">
  <%= form_for @user do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions"><%= f.submit "Sign Up" %></div>
  <% end %>
</div>
<hr>
<%= link_to "Back to home page", photos_path %>
