<!DOCTYPE html>
<html>
<head>
  <title>Phliker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Logged in as <%= current_user.name %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :name %><br />
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Log In" %></div>
  <% end %>
<% end %>


<%= yield %>

</body>
</html>
