<!DOCTYPE html>
<html>
<head>
  <title>Phliker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:notice] %>
<div class="loginmenu">
<% if current_user %>
  Logged in as <%= current_user.name %>.<br>
  <%= link_to "Profile", user_path(current_user) %>
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :name %><br />
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Log In" %></div>
  <% end %>
  <a href ="/signup/"><button>Sign Up</button></a>
<% end %>
</div>

<%= yield %>

</body>
</html>
